@model IEnumerable<ControlObjetorPerdidos.Topicos.DataBase.TArticulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TSubCategoria.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaExtravio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TSubCategoria.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaExtravio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>

            @Html.ActionLink("Details", "Details", new { id = item.IdArticulo }) |
            @if (Session["UserRol"] != null)
            {
                if (Session["UserRol"].Equals("administrador") || Session["UserRol"].Equals("Administrador") || Session["UserRol"].Equals("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdArticulo }) <p>|</p>
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdArticulo })
                }
            }
        </td>
    </tr>
}

</table>
