@model IEnumerable<ControlObjetorPerdidos.Topicos.DataBase.TContacto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rol)
            </th>
            <th>
               Editar
            </th>
            <th></th>
        </tr>
        
        @foreach (var item in Model)
        {
        <tr>
            @using (Html.BeginForm())
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rol)
                </td>
                <td>
                    @Html.Hidden("Email", item.Email)
                    @Html.DropDownList("Role", null, "Selecciona un Role", new { @id = "Role", @Email = item.Email.ToString(), @onChange = "this.form.submit()" })

                </td>
            }
            </tr>
        }

    </table>
